SVs_identification/data/
SVs_identification/.vscode
.DS_Store
.RData
.RHistory
SVs_identification/scripts/summery_count/.idea
SVs_identification/scripts/summery_count/venv
SVs_identification/scripts/summery_count/__pycache__

