profiles {
   local {
      trace.enabled = true
      singularity.enabled = true
      docker.enabled = false

      process {
         withName: fastp { container = 'docker://biocontainers/fastp:v0.20.1_cv1' }
      }

      process {
         withName: indexing_aligning { container = 'docker://biocontainers/bwa:v0.7.17_cv1' }
      }

      process {
         withName: samtobam_sort { container = 'docker://mgibio/samtools-cwl:1.0.0' }
      }

      process {
         withName: markedups { container = 'docker://mgibio/samtools-cwl:1.0.0' }
      }

      process {
         withName: insert_sizes { container = 'docker://mgibio/samtools-cwl:1.0.0' }
      }

      process {
         withName: delly_variants { container = 'docker://biocontainers/delly:v0.8.1-2-deb_cv1' }
      }

      process {
         withName: bcf_to_vcf { container = 'docker://biocontainers/bcftools:v1.9-1-deb_cv1' }
      }
   }
}

